<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="pt-pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ForSale</title>
        <link rel="stylesheet" href="../../assets/styles/style.css">
        <link rel="stylesheet" href="../../assets/styles/foter.css">
        <link rel="stylesheet" href="../styles/dropd.css">
        <link rel="stylesheet" href="../../assets/styles/cookie.css">
    
    </head>
    <body>
        
        <header>
           
            <nav>
                <h1 class="logo">ForSale</h1>
                <ul>
                    <li><a href="../index/index.html">Home</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="../sobre/sobre.html">Sobre nós</a></li>
                    <li><a class="botaoDrop" href="">Conta</a></li>
                    <li id="dropd"> 
                        <div class="dropd-cont">
                            <a href="../vender/vender.html">Vender</a>
                            <a href="../index/index.html">Comprar</a>
                        </div>
                    </li>
                    <li><a href="../pesquisar/pesquisar.html">Pesquisar</a></li>
    
                   
                </ul>
               
            </nav>
        </header>
        <section>
            <div class="conteudo1">
                <div class="control">
                    <h1>As suas opções de compra e venda na web e na vida real</h1>
                    <p>Na 4Sale você está habilitado a comprar e vender os seus produtos de forma rápida e simples.</p>
                    
                    <div class="button">
                        <button><a href="../vender/vender.html" id="dvender">Vender</a></button>
                    </div>
                </div>
               
            </div>
    
            
    
        </section>
        <section id="vai">
            <div class="conteudo2">
    
                
                <div class="titulo">
                    <h1>Por quê Vender ou comprar na ForSale</h1>
                    <p">Aqui você os melhores produtos ao melhor preço.</p>
                </div>
                <div class="smart">
                    <div>
                        <img src="../../assets/imgs/carroLC.JPG" alt="" height="200px" width="250px">
                        <h1>Os melhores produtos do mercado</h1>
                        <p>Na 4Sale você encontra os melhores veículos do mercado, tanto novos quantos usados(ocasião).</p>
                    </div>
                    <div>
                        <img src="../../assets/imgs/f1w.JPG" alt="" height="200px" width="250px">
                        <h1>Os calçados mais amados pelo público</h1>
                        <p>Os clássicos da modas você encontra aqui! Mas não vendemos aqui tênis da Adidas, somos fiéis à Nike.</p>
                    </div>
                    <div>
                        <img src="../../assets/imgs/PCincon.PNG" alt="" height="200px" width="250px">
                        <h1>Os equipamentos informáticos de ponto!</h1>
                        <p>Aqui você encontra os melhores computadores do nosso mercado, à preço de pão!</p>
                    </div>
                        <div>
                        <img src="../../assets/imgs/Icon4.PNG" alt="" height="200px" width="250px">
                        <h1>Seus produtos a preço baixo</h1>
                        <p>Aqui você encontra produtos diversos do mercado, dos de menores utilidades aos mais usados do planeta!</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="volta">
            
            <div >
                <h1>Desfrute!</h1>
            </div>
            <div class="smart">
                <div>
                    <img src="../../assets/imgs/acer2.JPG" alt="" height="250px">
    
                    <h5>Os melhores preços</h5>
    
                    <a href="../pc/pc.html">Compre Aqui</a>
    
                    <p>Laptop Acer 340.000.00kz </p>
                </div>
                <div>
                    <img src="../../assets/imgs/f1b.JPG" alt=""  height="250px"> 
    
                    <h5>As últimas novidades do mercado</h5>
    
                    <a href="../nike/Nike.html">Compre Aqui</a>
    
                    <p>Nike Air Force 1 <br> 40.000.00kz</p>
                </div>
                <div>
                    <img src="../../assets/imgs/frontal1.JPG" alt=""  height="250px"> 
    
                    <h5>Os melhores produtos do mercado</h5>
    
                   <a href="../hilux/Hilux.html">Compre Aqui</a>
    
                    <p>Toyota Hilux 2kd <br> 12.000.000.00kz</p>
                </div>
                <div>
                    <img src="../../assets/imgs/xs.JPG" alt=""  height="250px"> 
    
                    <h5>Produtos ao melhor preço!</h5>
    
                    <a href="../iphone/IPhone.html">Compre Aqui</a>
                    <p>IPhone xs max <br>210.000.00kz </p>
                </div>
            </div>
        </section>
    
        <section id="volta">
            
            <div >
                <h1>Carros usados</h1>
            </div>
            <div class="smart">
                <div>
                    <img src="../../assets/imgs/yundai1.JPG" alt="" height="250px">
    
                    <h5>Os melhores preços</h5>
    
                    <a href="../hyundai/hyundai.html">Compre Aqui</a>
    
                    <p>Carro hyundai 14.000.000kz</p>
                </div>
                <div>
                    <img src="../../assets/imgs/f1b.JPG" alt=""  height="250px"> 
    
                    <h5>As últimas novidades do mercado</h5>
    
                    <a href="../nike/Nike.html">Compre Aqui</a>
    
                    <p>Nike Air Force 1 <br> todos os números</p>
                </div>
                <div>
                    <img src="../../assets/imgs/frontal1.JPG" alt=""  height="250px"> 
    
                    <h5>Os melhores produtos do mercado</h5>
    
                   <a href="../hilux/Hilux.html">Compre Aqui</a>
    
                    <p>Toyota Hilux 2kd</p>
                </div>
                <div>
                    <img src="../../assets/imgs/xs.JPG" alt=""  height="250px"> 
    
                    <h5>Produtos ao melhor preço!</h5>
    
                    <a href="../iphone/IPhone.html">Compre Aqui</a>
                    <p>IPhone xs max <br> 64GB Gold</p>
                </div>
            </div>
        </section>
    
        
        
    
    
        <footer>
    
            <div id="rodape"> todos direitos reservados</div> <br>
            <div id="rodape2">Desenvolvido por Mateus Eduardo</div>
            
        </footer>
    
    
    
    
        <script src="../../assets/JS/cookies.js"></script>
        <script src="../JS/cookies.js"></script>
    </body>
    </html></body>
</html>