<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>electronics</title>
    <link rel="stylesheet" href="../../assets/styles/style.css">
    <link rel="stylesheet" href="../../assets/styles/modal.css">

</head>
<body>
<header>
    <nav>
        <div class="button">
            <button class="voltar"><a href="../index/index.html" id="dvoltar">Voltar</a></button>
        </div>

        <h1 class="logo">ForSale</h1>
        <ul>
            
        </ul>
        <div id="openModalBtn" class="button">
            <button ><a id="dolog" href="#">Comprar</a></button>
        </div>
    </nav>
</header>

<section id="vai">
    <div class="conteudo2">
        <div class="titulo">
            <h1>Computador Portátil</h1>
            <p>
                Marca: Acer <br>
                Armazenamento 1024Gb SSD <br>
                Memória RAM 16Gb DDR3<br>
                Processador core i5 10th gen 3.40Ghz com 6 núcleos de processamento
            </p>
        </div>
        <div class="smart">
            <div>
                <img src="../../assets/imgs/PCincon.PNG" alt="" height="300px" width="250px">
                
            </div>
            <div>
                <img src="../../assets/imgs/acer1.JPG" alt="" height="300px" width="250px">
                
            </div>
            <div>
                <img src="../../assets/imgs/acer2.JPG" alt="" height="300px" width="250px">
               
            </div>
                <div>
                    <img src="../../assets/imgs/acer1.JPG" alt="" height="300px">
               
            </div>
        </div>
    </div>
</section>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Importante!</h1>
        <p>Acabou de agendar a compra deste produto, contacte o vendedor 928598488</p>
    </div>
</div>

<script>
    const modal = document.getElementById('modal');
const openModalBtn = document.getElementById('openModalBtn');
const closeModalBtn = document.getElementsByClassName('close')[0];

openModalBtn.onclick = function() {
modal.style.display = 'block';
}

closeModalBtn.onclick = function() {
modal.style.display = 'none';
}

window.onclick = function(event) {
if (event.target == modal) {
    modal.style.display = 'none';
}
}
</script>
</body>
</html>